# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [2]:
# 記得先 Import 正確的套件

'''
Your Code
'''

In [2]:
import pandas as pd

df= pd.DataFrame({"Apple":[30],"Bananas":[21]})

print(df)

   Apple  Bananas
0     30       21

In [3]:
import pandas as pd

df= pd.DataFrame({"Apple":[30,43],"Bananas":[21,34]},index=["2017 sales","2018 sales"])

print(df)

            Apple  Bananas
2017 sales     30       21
2018 sales     43       34

In [3]:
'''
Your Code
'''

   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [13]:
import pandas as pd

df= pd.DataFrame({"city":["Austin","Dallas","Austin","Dallas"],"visitor":[139,237,139,456],"weekday":["Sun","Sun","Mon","Mon"]})

print(df)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

In [15]:
df = pd.DataFrame([{'city':'Austin','visitor':139,'weekday':'Sun'},
                  {'city':'Dallas','visitor':237,'weekday':'Sun'},
                  {'city':'Austin','visitor':326,'weekday':'Mon'},
                  {'city':'Dallas','visitor':456,'weekday':'Mon'}])
print(df)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [5]:
'''
Your Code
'''

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [6]:
'''
Your Code
'''

Sun 188.0
Mon 297.5

In [16]:
df.groupby(['weekday']).mean()

         visitor
weekday
Mon        391.0
Sun        188.0

In [17]:
a=~4
b=a+4
print(b)

-1